<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @exemplo.nome %>
</p>

<p>
  <b>Idade:</b>
  <%= @exemplo.idade %>
</p>

<p>
  <b>Telefone:</b>
  <%= @exemplo.telefone %>
</p>

<p>
  <b>Datacadastro:</b>
  <%= @exemplo.datacadastro %>
</p>

<p>
  <b>Ativo:</b>
  <%= @exemplo.ativo %>
</p>

<p>
  <b>Logradouro:</b>
  <%= @exemplo.logradouro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @exemplo.cidade %>
</p>

<p>
  <b>Uf:</b>
  <%= @exemplo.uf %>
</p>


<%= link_to 'Edit', edit_exemplo_path(@exemplo) %> |
<%= link_to 'Back', exemplos_path %>
