<%= form_for(@pagamento) do |p| %>
  <% if @pagamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pagamento.errors.count, "error") %> prohibited this pagamento from being saved:</h2>

      <ul>
      <% @pagamento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= p.label :users_id %><br />
    <%= p.text_field :users_id %>
  </div>
  <div class="field">
    <%= p.label :projects_id %><br />
    <%= p.text_field :projects_id %>
  </div>
  <div class="field">
    <%= p.label :id_transacao_moip %><br />
    <%= p.text_field :id_transacao_moip %>
  </div>
  <div class="field">
    <%= p.label :data_pag_moip %><br />
    <%= p.text_field :data_pag_moip %>
  </div>
  <div class="field">
    <%= p.label :data_pag_inss %><br />
    <%= p.text_field :data_pag_inss %>
  </div>
  <div class="field">
    <%= p.label :valor_transacao %><br />
    <%= p.number_field :valor_transacao %>
  </div>

  <div class="actions">
    <%= p.submit %>
  </div>
<% end %>
