<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @pagamento.users_id %>
</p>

<p>
  <b>Idade:</b>
  <%= @pagamento.projects_id %>
</p>

<p>
  <b>Telefone:</b>
  <%= @pagamento.valor_transacao %>
</p>

<p>
  <b>Datacadastro:</b>
  <%= @pagamento.id_transacao_moip %>
</p>

<p>
  <b>Ativo:</b>
  <%= @pagamento.inss_autonomo %>
</p>

<p>
  <b>Logradouro:</b>
  <%= @pagamento.inss_base2 %>
</p>


<%= link_to 'Edit', edit_pagamento_path(@pagamento) %> |

