<h3>Alíquotas</h3>

<table border="1">
  <tr>
    <th>Empregador perc</th>
    <th>Empregado perc</th>
    <th>Ano base</th>
    <th>Ativa</th>
  </tr>



<% @aliquota.each do |aliquotum| %>
 <form action = "aliquota/<%= aliquotum.id %>/salvar/">
  <tr>
    <td><input type="text" name="empregador_perc" value=<%= aliquotum.empregador_perc %>></td>
    <td><input type="text" name="empregado_perc" value=<%= aliquotum.empregado_perc %>></td>
    <td><input type="datetime" name="ano_base" value=<%= aliquotum.ano_base %>></td>
    <td><%= aliquotum.ativa %></td>
    <td><%= link_to 'Ativar', action: 'ativar', id: aliquotum.id  %></td>
    <td><%= link_to 'Excluir',action: 'excluir', id: aliquotum.id %></td> 
    <td><input type="submit" value="Salvar"/></td> 
  
  </tr>
 </form> 
<% end %>
</table>

<%= link_to 'Inserir', action: :inserir, id: 1 %>


</br></br>
<a HREF="/pagamento">Controle de Pagamentos</a>
</br>
</br>
</br>
</br>

<%= link_to 'Voltar', action: :index,  :controller=> "welcome" %>



	

